<main class="p-5">


    <div class="card p-4">
        <p>12+</p>
        <em>warning!</em><br>
        <p>Not recommended for unprepared users; the content may be emotionally distressing.</p>
        <span>Any resemblance to actual web projects is purely coincidental. Based on real coding. All rights
            reserved.</span>
    </div>
    <a href="/template-1">Practice Template-1</a>
    <a href="/template-2">Practice Template-2</a>
    <a href="/template-6">Practice Template-6</a>
    <a href="/template-7">Practice Template-7</a>
    <a href="/slack">Practice Slack</a>
    <a href="/dashboard">Dashboard <span class="animation">new</span></a>

</main>