<main class="p-5">

    <a href="/template-1">Practice Template-1</a><br>
    <a href="/template-2">Practice Template-2</a><br>
    <a href="/template-6">Practice Template-6</a><br>
    <a href="/template-7">Practice Template-7</a><span class="badge bg-warning">new</span><br>
    <a href="/slack">Practice Slack</a><span class="badge bg-warning">new</span>

    <div class="card p-5">
        <p>Hello world!</p>
        <em>Just text for example</em>
        <p>Ничто в настоящей Декларации не может быть истолковано, как предоставление какомулибо государству, группе
            лиц или отдельным лицам права заниматься какойлибо деятельностью или совершать действия, направленные к
            уничтожению прав и свобод, изложенных в настоящей Декларации. Принимая во внимание, что признание
            достоинства, присущего всем членам человеческой семьи, и равных и неотъемлемых прав их является основой
            свободы, справедливости и всеобщего мира; и</p>
        <span>Ничто в настоящей Декларации не может быть истолковано, как предоставление какомулибо государству, группе
            лиц или отдельным лицам права заниматься какойлибо деятельностью или совершать действия, направленные к
            уничтожению прав и свобод, изложенных в настоящей Декларации. Принимая во внимание, что признание
            достоинства, присущего всем членам человеческой семьи, и равных и неотъемлемых прав их является основой
            свободы, справедливости и всеобщего мира; и</span>
    </div>

</main>