{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
{{!-- <style>
    h1 {
        color: aquamarine;
    }

    .btn {
        color: red;
    }
</style> --}}



<main class="p-5">
    <h1>{{i}}</h1>

    <div class="card p-5 card-dark">
        <input class="input-dark" required>
        <input class="input-dark mt-2" type="number">
    </div>

    <div class="card card-dark mt-2 p-5">
        <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300" height="100px">
        <a href="https://picsum.photos/" rel="external hhf hhd">Text</a>
        <button class="btn">Click me</button><br>
        <a href="https://picsum.photos/" class="btn-sm btn btn-primary" rel="externalll hhf hhd">Text</a>
    </div>

    <hr>


    <div class="card card-dark">
        <div class="card-body">
            <ul>
                <li>item1</li>
                <li>item2</li>
                <li>item3</li>
                <li>item4</li>
            </ul>
        </div>
    </div>

    <div class="card card-dark">
        <div class="card-body">
            <ul>
                <li>item1</li>

            </ul>
        </div>
    </div>


    <section>
        <h5>h5 name on Section </h5>
        <p>1p: in the section Usual teext teexxxt</p>
        <p>2p: in the section Usual teext teexxxt</p>
        <span>span in the section</span>
        <hr>
        <div>
            <p>p: in the Section ==> DIV Usual teext teexxxt</p>
            <h5>h5 name Section ==> DIV </h5>
            <p>p: in the Section ==> DIV Usual teext teexxxt</p>
            <p>1p: in the Section ==> DIV Usual teext teexxxt</p>
            <p>2p: in the Section ==> DIV Usual teext teexxxt</p>
            <span>span in the Section ==> DIV </span>
        </div>
    </section>

    <hr>
    <hr>
    <span>1 Span</span>
    <section> in section</section>
    <h5>h5 name out of Section </h5>
    <hr>
    <hr>

    <h5>h5 name out of Section </h5>
    <p>p: out of section Usual teext teexxxt</p>
    <span>span out of section</span>
    <hr>






    <div class="p-5 box">
        <h1 style="color:bisque">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
        <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
        <h2>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
            <h3>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
                <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

                <button type="button" class="btn btn-primary">Купити</button>
                <p> Add text</p>
    </div>
    <p> Add text</p>

    <hr>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary">Fly mode</button>
            <button class="btn btn-secondary">Sleep mode</button>
            <button class="btn btn-success btn-sm">Eco mode</button>
            <button class="btn btn-danger btn-lg"><span class="text-uppercase">Power mode</span></button>
            <button class="btn btn-warning">Boost mode</button>
        </div>
    </div>
    <p> </p>
    <button class="btn btn-info">Dry mode</button>
    <button class="btn btn-light"><span class="text-muted">Light mode</span></button>
    <button class="btn btn-dark">Night mode</button>
    <button class="btn btn-link">Hiper mode</button>
    <hr>
    <p> btn btn-outline-primary ....</p>
    <button class="btn btn-outline-primary">Fly mode</button>
    <button class="btn btn-outline-secondary">Sleep mode</button>
    <button class="btn btn-outline-success btn-sm">Eco mode</button>
    <button class="btn btn-outline-danger btn-lg"><span class="text-uppercase">Power mode</span></button>
    <button class="btn btn-outline-warning">Boost mode</button>

    <hr>
    <section class="p-2">
        <div class="display-6">Посилання під кнопкою:</div>
        <a href="/" class="btn btn-outline-primary">
            <span class="text-uppercase">home</span>
        </a>
    </section>
    <hr>

    <div class="p-5">
        <h3>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h3>

        <button type="button" class="btn btn-secondary">Купити</button>
        <button type="button" class="btn btn-primary">Primary</button>

    </div>

    <div class="p-2">
        <h3>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h3>

        <button type="button" class="btn btn-secondary">Купити</button>
        <button type="button" class="btn btn-primary">Primary</button>

    </div>

    <section class="text-end my-2">
        <div>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                Toggle width collapse
            </button>
        </div>
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <div class="card card-body" style="width: 800px;">
                This is some placeholder content for a horizontal collapse. It's hidden by default and shown
                when
                triggered.

                <div class="card">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>


    <div class="card">
        <div class="card-body p-3">
            <p class="display-6">card -- card-body</p>
            <p class="text-primary">Григорій Квітка-Основ’яненко — один
                із учнів Григорія Сковороди. У Великого Учителя виріс
                великий учень. </p>
        </div>
    </div>

    <hr>
    <p class="text-primary">text-primary:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>
    <p class="text-secondary">text-secondary:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>
    <p class="text-success">text-success:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>
    <p class="text-danger">text-danger:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>
    <p class="text-warning">text-warning:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>
    <p class="text-info">text-info:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>
    <p class="text-light">text-light:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>
    <p class="text-dark">text-dark:Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. </p>


    <hr>
    <h1>Page title -- h1 Заголовок страницы</h1>



    <h2>Page title -- h2 Заголовок страницы</h2>
    <h3>Page title -- h3 Заголовок страницы</h3>
    <h4>Page title -- h4 Заголовок страницы</h4>
    <div style="color: rgb(231, 71, 71); background: rgb(160, 160, 207);">
        Style in 'div'
    </div>
    <h5>Page title -- h5 Заголовок страницы</h5>
    <h6>Page title -- h6 Заголовок страницы</h6>
    <hr>
    <div class="display-1 text-muted">Page title -- display-1</div>
    <div class="display-2">Page title -- display-2</div>
    <div class="display-3 text-center">Page title -- display-3</div>
    <div class="display-4">Page title -- display-4</div>
    <div class="display-5 text-muted">Page title -- display-5</div>
    <div class="display-6">Page title -- display-6</div>
    <hr>
    <span>Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. У Великого Учителя виріс
        великий учень. </span><br>
    <hr>
    <p class="text-muted text-center">Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. У Великого Учителя виріс
        великий <span class="display-6"> учень. </span></p>
    <hr>
    <div class="text-center">Григорій Квітка-Основ’яненко </div>
    <hr>
    <div class="text-end">Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. У Великого Учителя виріс
        великий учень. </div>
    <hr>
    <span class="text-uppercase">Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. У Великого Учителя виріс
        великий учень. </span>
    <hr>
    <span class="text-lowercase">Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. У Великого Учителя виріс
        великий учень. </span>
    <hr>
    <span class="text-capitalize">Григорій Квітка-Основ’яненко — один
        із учнів Григорія Сковороди. У Великого Учителя виріс
        великий учень. </span>
    <hr>
    {{!-- ========================карточки таблицы колонки=============== --}}


</main>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}