<div class="big-header">

    <div class="header-info">
        <span>SLACK FEATURES</span>
        <h1>
            One platform for your
            team and your work
        </h1>
        <p>
            All the features of Slack work together so you can, too.
        </p>
        <a href="#" class="btn-full">TRY FOR FREE</a>
        <a href="#" class="btn-light">SEE ALL FEATURES</a>
    </div>

    <div class="header-figure">
        <img src="/img/hero-full-ui.jpg">
    </div>

</div>

<div class="with-logo">
    <img src="/img/airbnb-logo.png">
    <img src="/img/target-logo.png">
    <img src="/img/uber.png">
    <img src="/img/logo-onemedical.png" width="162px" height="20px">
    <img src="/img/logo-newscorp.png">
    <img src="/img/us-department.png">
    <img src="/img/intuit.png">
    <img src="/img/logo-sonos.png">
</div>

<div class="big-connect">

    <div class="connect-info">

        <div class="info">
            <h2>Work more easily with everyone</h2>
            <p>
                Stay on the same page and make decisions faster by bringing all of your
                work communication into one place.
            </p>
        </div>
        <div class="info-img">
            <img src="/img/img-work-easily.png">

        </div>

        <img src="/img/feature-tiles.png" class="tiles">
        {{!-- <div class="tiles">
        </div> --}}

    </div>

    <div class="big-apps">

        <div class="apps-img">
            <img src="/img/what-you-need.jpg">
        </div>

        <div class="apps">
            <h2>What you need, when you need it</h2>
            <p>
                Spend less time shuffling tabs with a comprehensive message archive and
                all your work tools at your fingertips.
            </p>
        </div>

        <div class="apps-tiles">
            <img src="/img/apps-tiles.png">
        </div>

    </div>

</div>

<div class="delivero">
    <img src="/img/rower.jpg" width="556px" heigt="228px">
    <div class="del-info">
        <h5>
            “The thing that keeps us connected
            the most is Slack. It’s a very
            immediate and straightforward
            method of communication, and
            really the only channel that people
            prefer and enjoy using.”
        </h5>
        <img src="img/deliveroo.png" width="147px" height="40px">
        <span>Will Sprunt, CIO, Deliveroo</span>
    </div>

</div>

<div class="explore">
    <h2>Explore more about working in Slack</h2>
</div>

<div class="card-block">
    <div class="card">
        <img src="/img/card1slack.png" width="285px" height="208px">
        <span>Slack Tutorials</span>
        <h6>Slack 101</h6>
        <a href="#" class="a-card">LEARN MORE</a>
    </div>
    <div class="card">
        <img src="/img/card2slack.png" width="285px" height="208px">
        <span>Slack vs. Email</span>
        <h6>An easier, more
            organized way to work</h6>
        <a href="#" class="a-card">LEARN MORE</a>
    </div>
    <div class="card">
        <img src="/img/card3slack.png" width="285px" height="208px">
        <span>Customer Stories</span>
        <h6>How Fastly uses Slack
            Connect to wow
            enterprise customers</h6>
        <a href="#" class="a-card">LEARN MORE</a>
    </div>
</div>