{{!-- <div class="header">
    <img class="logo-top" src="/svg/bs-sl.png">
    <div class="nav-header">
        <a href="#">Link</a>
        <a href="#">Linkabc</a>
        <a href="#">Linkau</a>
    </div>
</div> --}}


<div class="nav-header">
    <img class="logo-top" src="/svg/bs-sl.png">
    <a href="#">Link</a>
    <a href="#">Linkabc</a>
    <a href="#">Linkau</a>
</div>


<div class="main-block">
    <img src="/img/citynight.jpg">
    <div class="main-content">
        <h2 class="main-title">Oh yeah, it’s that good. See for yourself.</h2>
        <p class="main-text">Another featurette? Of course. More placeholder content here to give you an idea of how
            this
            layout would work with some actual real-world content in place.</p>
        <a href="#" class="main-btn">View details</a>
    </div>
</div>

<div class="card-block">
    <div class="card-feat">
        <img src="https://picsum.photos/64/64" width="64px" height="64px">
        <h3 class="card-title">Featured title</h3>
        <p>
            Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
            probably just keep going until we run out of words.
        </p>
        <a href="#">Click to action</a>
    </div>
    <div class="card-feat">
        <img src="https://picsum.photos/64/64" width="64px" height="64px">
        <h3 class="card-title">Featured title</h3>
        <p>
            Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
            probably just keep going until we run out of words.
        </p>
        <a href="#">Click to action</a>
    </div>
    <div class="card-feat">
        <img src="https://picsum.photos/64/64" width="64px" height="64px">
        <h3 class="card-title">Featured title</h3>
        <p>
            Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
            probably just keep going until we run out of words.
        </p>
        <a href="#">Click to action</a>
    </div>
</div>

text