<div class="articles">

    <div class="art-title">
        <h2>Our articles</h2>
        <a href="#" class="btn-dark">View all</a>
    </div>

    {{#each articles}}
    {{> cardDark}}
    {{/each}}

</div>