<div class="box header">
    <div class="inBox logo">
        <img src="/svg/bootstrap-solid.png">
    </div>
    <div class="inBox nav">
        {{#each data}}
        <a href={{url}}>{{text}}</a>
        {{/each}}
    </div>
</div>